/*Códigos de CSS para o "Maratona de Programação - Diagramação Profissional CSS.html" - 
arquivo: "estilo_profissional.css" - pasta: "style/avancado/estilo_profissional.css"*/
 
 #conteiner {
	margin: 0 auto 0 auto;
	width: 90%;
  }
  #logo {
	float: left;
  }
  #dataHora {
	float: right;
  }
  .clearfix {
	clear: both;
  }
  #menu {
	background-color: black;
	color: white;
	height: 2em;
  }
  .itemMenu {
	display: inline-table;
	line-height: 2em;
	text-align: center;
	width: 32%;
  }
  .itemMenu a {
	color: white;
	text-decoration: none;
  }
  #destaque {
	float: left;
	margin-right: 2em;
	min-width: 400px;
	text-align: center;
	width: 400px;
  }
  #noticias {
	float: left;
	width: 300px;
  }
  .noticia {
	height: 180px;
	width: 100%;
  }
  #propagandas {
	float: right;
	margin-left: 2em;
	width: 200px;
  }
  .propaganda {
	width: 100%;
  }
  #ultimasNoticias {
	background-color: black;
	color: white;
	height: 2em;
  }
  #galeria {
	text-align: center;
  }
  #galeria img {
	width: 100%;
}
